
<% labeled_form_for(:strip, :url => strip_path(@strip), :html => { :method => :put, :multipart=>true }) do |f| %>

  <%= error_messages_for :strip %>

  <%= render :partial=>'form_fields', :locals=>{:f=>f, :mode=>:edit} %>
  
  <% f.button_group do %>
    <%= submit_button 'Save Changes' %> or <%= link_to 'Cancel', strips_path %>
  <% end %>
  
<% end %>

