
<% labeled_form_for(:strip, :url => strips_path, :html => { :multipart=>true } ) do |f| %>

  <%= error_messages_for :strip %>

  <%= render :partial=>'form_fields', :locals=>{:f=>f, :mode=>:new} %>
  
  <% f.button_group do %>
    <%= submit_button 'Create' %> or <%= link_to 'Cancel', strips_path %>
  <% end %>
  
<% end %>
