
<% labeled_form_for(:user, :url => user_path(@user), :html => { :method => :put }) do |f| %>

  <%= error_messages_for :user %>

  <%= render :partial=>'form_fields', :locals=>{:f=>f} %>

  <% f.button_group do %>
    <%= submit_button "Save Changes" %> or <%= link_to 'Cancel', users_path %>
  <% end %>

<% end %>

